div.journal-card {
	border-radius: 3px;
	border-top: 2px #333333;
	border-left: 2px #333333;
	border-bottom: 0;
	border-right: 0;
	border-style: solid;
	background-color: #1a1a1a;
	box-shadow: 10px 10px 5px black;
	padding: 1ex;
	margin-bottom: 15px;
}

div.journal-card-header {
	font-family: sans-serif;
	margin-bottom: 2ex;
}

.journal-card-caption {
	float: right;
	font-size: larger;
}
